name: pgmb_test

services:
  pg:
    image: ghcr.io/haathie/postgres:18
    environment:
      POSTGRES_PASSWORD: ''
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: test
    ports:
      - '5432:5432'
    command: -c config_file=/etc/postgresql.conf
    volumes:
      - ../dev/pg.conf:/etc/postgresql.conf
      - ../scripts:/scripts
      - ../sql:/sql
    post_start:
      - command: sh /scripts/install-pgmb.sh postgres://postgres@localhost:5432/test
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096m
