name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: "!contains(github.event.head_commit.message, 'docs') && !contains(github.event.head_commit.message, 'wip')"
    steps:
    - uses: actions/checkout@v2

    - name: Run Dependencies
      run: docker compose -f docker/test.docker-compose.yaml up -d

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: 24

    - name: Restore Node Cache
      uses: actions/cache/restore@v4
      id: cache-node-modules
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

    - name: Install Dependencies
      if: steps.cache-node-modules.outputs.cache-hit != 'true'
      id: npm-ci
      run: npm ci

    - name: Save Node Cache
      # This step ensures the cache is saved even if subsequent steps fail
      uses: actions/cache/save@v4
      if: steps.npm-ci.outcome != 'skipped' && always()
      with:
        path: node_modules
        key: ${{ steps.cache-node-modules.outputs.cache-primary-key }}

    - name: Build package
      run: npm run build

    - name: Lint
      run: npm run lint

    - name: Test
      run: npm run test
